.content-heading{
    margin-top: 20px;
    display: flex;
    position: relative;
}
.my-button{
   left: 900px;   
}
#add-btn{
    position: absolute;
    right: 20px;
}

.heading{
    padding-left: 20px;
    
}
.my-table{
    margin-top: 20px;
}
.artwork-img{
    width: 100px;
    height: 100px;
}