.content-heading{
    display: flex;
    position: relative;
}
.button{
   padding-top: 20px; 
    
}
.btn{
    position: absolute;
    right: 20px;
    height: 30px;
    width: 100px;
}
.heading{
    padding-left: 20px;
    top: 0px;
}